.cagri{
    color: blueviolet;
    font-size: 30px;
}
#cagri_id{
color: burlywood;
font-size: 2rem!important;
}
div{
    width: 250px;
    height: 200px;
    color: darkblue;
    background-color: darkolivegreen;
    padding: 100px 25px 35px 45px;
    margin-top: 12px;
    border: 5px solid blue;
    border-radius: 50%;
}
.text{
    margin-bottom: 50px;
    text-align: justify;
    text-decoration: none;
    color: green;
    font-size: 25px;
    text-transform: lowercase;
    text-indent: 25px;
    text-shadow: .1px .1px;
    letter-spacing: .1px;
    line-height: 30px;
    word-spacing: 2px;
    column-count: 3;
    column-rule: 4px solid red;
    display: inline-block;
}